################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/CommonExtention.Core/obj
/CommonExtention.Core/bin/Debug/netcoreapp2.0
/.vs
/CommonExtention.Core/bin/Debug/netcoreapp2.1
/CommonExtention.Core/bin/Release/netcoreapp2.1
